@import 'properties.scss';

.fund-section {
    margin-bottom: 10px;
    h4 {
        font-weight: bold;
    }
}

.fund-list {
    
    .fund-group {
        padding:12px;
        border: 1px solid #e1e1e8;
        border-radius: 4px;

        .fund-name {
            margin-top: 10px;
            font-size: 1.2em;
            color: gray;
            span {
                font-size: 0.8em;
                color: black;
            }
            .avg-net {
                color: brown;
                margin-left: 20px;
            }
        }

        .fund-unit {
            margin-left: 15px;
            padding: 5px;
        }
    }
}