.list {
    margin: 12px auto;
    width: 960px;
    text-align: center;
    border: 1px solid black;
    .title {
        text-align: left;
        margin: 10px;
        margin-bottom: 25px;
    }
    .item {
        text-align: left;
        margin-left: 20px;
        list-style-type: none;
        li { margin-bottom: 1rem; }
    }
}