<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron
            and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    选择计算策略
                    <span class="caret"></span>
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">计算补仓信息</button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">阶梯计算</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">平均值计算</a>
                    </li>
                </ul>
            </div>
        </p>
    </div>
</div>